<div class="class">
    <h2>Animais: s</h2>
    <!-- brincando com evento e lista
     o botão abaixo chama o metodo showList quando clicado (click) é o evento de click do mouse-->
    <button (click)="showList()">Show the list</button>
    <!-- se show for true ele exibe a lista -->
    <div *ngIf="show"> 
        <ul>
            <!-- fazendo a iteraçao no objeto animals -->
            <li *ngFor="let animal of animals">
                <!-- chamando o objeto animals e o nome dele -->
                 <!-- passando tambem o link para acessar a pagina do animal (para fazer isso basta adicionar um novo
                  component, salvar ele no routes usando "list/:id" por ex e utilizar o routerLink))-->
                Nome: <a routerLink="/list/{{animal.id}}">{{animal.name}}</a> - Type: {{animal.type}}
                Nome: <a href="/list/{{animal.id}}">{{animal.name}}</a> - Type: {{animal.type}}
            <!-- quando clico no botão ele pega o animal e passa para o metodo como parametro -->
            <button (click)="showAge(animal)">Show Age</button>
            <button (click)="removeAnimal(animal)">Excluir</button>
        </li>
        </ul>
        <!-- exibe a idade do animal -->
         <p>Pokemon: {{pokemonName}}</p>
         <p>pokemon name = {{pokemon.name}}</p>
         <pre>{{pokemon | json}}</pre>
        <h3>{{animalDetais}}</h3>
    <!-- imprimindo uma lista de numeros -->
        <ul>
            <li *ngFor="let num of numeros">
                {{num}}
            </li>
        </ul>
    </div>
</div>

